<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'pagefly-head' %}
    <meta charset="utf-8">
    {{ content_for_header }}
  </head>

  <body>

    {% sections 'base-header' %}
    
    <main
      id="MainContent"
      class="content-for-layout focus-none"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

  </body>
</html>