<style type="text/css">
  .header-password {
    max-width: {{ settings.logo_width }}px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
  }
</style>

<div class="header-password">
  header
</div>
{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.logo_header.content"
    },
    {
      "type": "text",
      "id": "width1",
      "label": "宽度1",
      "default": "100px"
    },
    {
      "type": "text",
      "id": "width2",
      "label": "宽度2",
      "default": "t:sections.logo_width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
