<div class="password__footer gradient">
  password-footer
</div>

{% schema %}
  {
    "name": "t:sections.main-password-footer.name",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "11",
        "default": "background-1"
      }
    ]
  }
{% endschema %}