.ef-content {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media ((min-width: 1024px) and (max-width: 1439px)) {
  .ef-content {
    padding: 0 64px;
  }
}
@media (max-width: 1023px) {
  .ef-content {
    padding: 0 48px;
  }
}
@media (max-width: 767px) {
  .ef-content {
    padding: 0 24px;
  }
}

/* 头部导航 */
.base-header .base-header-nav {
  display: flex;
  height: 52px;
}
.base-header .header-l {
  width: 48px;
}
.base-header .header-l svg {
  width: 48px;
  height: 48px;
}
.base-header .header-c {
  flex: 1;
  margin-left: 20px;
  line-height: 52px;
  display: flex;
}
.base-header .header-c .header-menu-item {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
.base-header .header-c .header-menu-item.hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.base-header .header-c .header-menu-item:first-child {
  margin-left: 0;
}

/* 头部导航-2级菜单 */
.base-header-subwin {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  display: block;
  background-color: #fff;
}

/* 头部导航-2级菜单-显示 */
.base-header.show-subwin .base-header-subwin {
  display: block;
}
