.ef-content {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media ((min-width: 1024px) and (max-width: 1439px)) {
  .ef-content {
    padding: 0 64px;
  }
}
@media (max-width: 1023px) {
  .ef-content {
    padding: 0 48px;
  }
}
@media (max-width: 767px) {
  .ef-content {
    padding: 0 24px;
  }
}

/* 头部导航 */
.base-header .ef-content {
  display: flex;
  height: 52px;
}
.base-header .header-l {
  width: 48px;
}
.base-header .header-l svg {
  width: 48px;
  height: 48px;
}
.base-header .header-c {
  flex: 1;
  margin-left: 20px;
  line-height: 52px;
  display: flex;
}
.base-header .header-c .header-menu-item {
  margin-left: 20px;
}
.base-header .header-c .header-menu-item:first-child {
  margin-left: 0;
}
